{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "order/properties-order": [],
    "plugin/no-unsupported-browser-features": [true, {
      "severity": "error"
    }]
  }
}